img {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}

.titulo {
    border-bottom: solid grey;
}

img:hover {
    opacity: .8;
}

img:active {
    opacity: .6;
}

footer {
    clear: both;
    text-align: center;
    padding: 30px 0px;
}

body {
    background: url("../images/geometry.png")
}

